body {
    background-color: maroon;
}

#titleChad {
    text-align: center;
    color: white;
}

.Names {
    color: white;
}

#homeTab {
    color: white;
}

.navigationBar {
    float: left;
    background-color: black;
    list-style-type: none;
    display: block;
    padding: 14px 16px;
  }
